body { 
	background-image: url('/Images/SF\ Background.jpg');
    background-color: #4a4a4a;
    background-size: cover;
    background-position: 0% 50%;
    background-blend-mode: multiply;
    font-family: "Inter";
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    margin: 0;
    padding: 0;
    height: 100dvh;
}

:root { 
    --width: 70%;
    --drop-shadow-color: #FEFFEA;
}

.link { 
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}

.link i { 
    position: relative;
    font-size: 1em;
    color: white;
    background: linear-gradient(to top, transparent 50%, white 50%);
    background-size: 100% 200%;
    background-position: 0 0;
    -webkit-background-clip: text;
    background-clip: text;
    transition: background-position 0.3s ease;
}

.link:hover i { 
    background-position: 0 100%;
    color: transparent;
}

#twitter:hover i { 
    background-image: linear-gradient(to top, #1DA1F2 50%, white 50%);
}

#email:hover i {
    background-image: linear-gradient(to top, #971f14 50%, white 50%);
}

#github:hover i {
    background-image: linear-gradient(to top, #333 50%, white 50%);
}

#linkedin:hover i {
    background-image: linear-gradient(to top, #0077B5 50%, white 50%);
}

#threads:hover i {
    background-image: linear-gradient(to top, #000000 50%, white 50%);
}

.footer-link {
    transition: transform 0.3s ease;
}

.footer-link:hover {
    transform: translateY(-3px);
}

h1 { 
    font-family: 'Merriweather';
    font-size: 3em;
}

a { 
    text-decoration: none;
    color: white;
}

a:visited { 
    color: white;
}

.main * { 
    margin: 0;
    padding: 0;
}

section { 
    width: var(--width);
    max-width: 1500px;
}

.main > div { 
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;

    padding: 1em;

    border-radius: 1em;
    backdrop-filter: blur(10px); 
    background-color: rgba(194, 194, 194, 0.4); 
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25) ;
    border: 1px solid rgba(255, 255, 255, 0.3);

    position: relative;
    overflow: visible;

    color: white;
}

.link-container { 
    font-size: xx-large;
    display: flex;
    flex-direction: row wrap;
    justify-items: main;
    justify-content: space-evenly;
    width: 100%
}

#bio { 
    text-align: center;
    padding: 0 2em;
}

#bio > * { 
    margin-bottom: 0.25em;
}

#photo-container > img { 
    width: 100%;
    height: auto;
}

#photo-container { 
    position: absolute;
    right: 20px;
    top: -80px;
    z-index: 10;
    width: 25%;
}

@media only screen and (max-width: 768px) { 

}
