@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

body {
	background-color: #feffea;
	background-image: url("https://transparenttextures.com/patterns/axiom-pattern.png");
	font-family: 'Inter', sans-serif;
	color: #004D7F;
}
a {
	text-decoration: none;
	color: #004D7F;
	transition: 0.35s;
}
a:hover {
	color: orangered;
}
div.head {
	display: table;
	width: 70%;
	height: 20%;
	margin-left: 15%;
	margin-right: 15%;
	position: -webkit-relative;
	text-align: center;
}
div.header {
	width: 35%;
	font-weight: 500;
	text-align: center;
	margin-left: 2%;
	border-bottom: 2px solid black;
	padding-bottom: 5px;
	display: inline-block;
}
div.linkIcons {
	font-size: 40px;
	display: table-cell;
	position: -webkit-absolute;
	margin-left: 5%;
	margin-right: 5%;
	float: left;
	display: inline-block;
}
div.body {
	margin-top: 1.5%;
	margin-left: 25%;
	height: 50%;
	width: 50%;
}
.titleBar {
	text-align: center;
	background-color: #002B5D;
	font-size: 13.5px;
	color: #feffea;
	border: 2px solid #00093B;
	border-bottom: 1px solid gray;
	border-radius: 10px 10px 0px 0px;
	padding-top: 3px;
	padding-bottom: 3px;
}
.tabs {
	background-color: #004D7F;
	font-size: 0px;
	color: #feffea;
	overflow: hidden;
	border-left: 2px solid #00093B;
	border-right: 2px solid #00093B;
}
.tabButton {
	height: 100%;
	width: 33.33333333%;
	background-color: inherit;
	color: inherit;
	font-size: 13.5px;
	text-align: center;
	border: none;
	padding-bottom: none;
	border-bottom: 1px solid gray;
}
.tabButton.active {
	background-color: #002B5D;
}
.tabButton:hover {
	background-color: orangered;
	transition: 0.35s;
}
.tabContent {
	display: none;
	background-color: #00082A;
}
.bodyText {
	font-size: 12px;
	border-bottom: 2px solid #00093B;
	border-left: 2px solid #00093B;
	border-right: 2px solid #00093B;
	font-family: Consolas,monaco,monospace;
	padding-top: 3px;
	padding-left: 5px;
	padding-bottom: 15px;
	border-radius: 0px 0px 10px 10px;
	background-color: #00082A;
	color: #feffea;
}
span.indent {
	text-indent: 5%;
}
.functions {
	color: #C69002;
}
.varName {
	color: #FD8434;
}
.note {
	color: #ACACAC;
}
.dicItem {
	color: #DCDF68;
	text-indent: 5%;
}
.sep {
	color: #FF6262;
}
#name {
	font-weight: 600 !important;
	text-shadow: 1.5px 1.5px black !important;
	font-size: 40px;
}
#twitter {
	margin-left: 2%
}
#resume {
	float: left;
	margin-left: 2%;
}
#email {
	float: right;
	margin-right: 2%;
}
#github {
	float: right;
	margin-right: 2%;
}
#experienceTab {
	border-left: 1px solid gray;
	border-right: 1px solid gray;
}
#footer {
	text-align: center;
	padding-top: 20px;
	font-size: 12px;
}
